.link_meowy {
  background-color: black;
  color: #d9d9d9;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.content {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1008px;
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

.place__title {
  margin-bottom: 30px;
}
.place__condition-table {
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 4px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}
@media (max-width: 676px) {
  .place__condition-table {
    font-size: 10px;
  }
}
.table__row-name {
  padding: 0;
  margin: 0;
  background-color: #d9d9d9;
}
.table__header-name,
.table__item {
  padding: 2px;
  margin: 0;
  border: 1px solid black;
}

.place__location {
}
.swiper {
  max-width: 100%;
}
/* slider */
.image-slider__image {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.image-slider__image img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
}
.place__description h2,
.place__location-title,
.place__condition-title {
  margin: 15px 0 15px 0;
}
